<div class="d-flex flex-row flex-wrap bd-highlight mb-3 mt-4 ml-3">
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/demochannel.jpg" alt="Demo Channel">
        </div>
        <div class="ml-2">
            <a href="#">Demo channel</a>
            <br>
            <small>Last transmission 2 days ago</small>
            <br>
            <small>12 members</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/gatedvideos.jpg" alt="Gated Vídeos">
        </div>
        <div class="ml-2">
            <a href="#">Gated Vídeos</a>
            <br>
            <small>Last update 2 months ago</small>
            <br>
            <small>3 members</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/liveplaylists.jpg" alt="Live Playlists">
        </div>
        <div class="ml-2">
            <a href="#">Live Playlists</a>
            <br>
            <small>Last transmission 1 month ago</small>
            <br>
            <small>3 members</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/marketingchannel.jpg" alt="Marketing Channel">
        </div>
        <div class="ml-2">
            <a href="#">Marketing Channel</a>
            <br>
            <small>Last update 5 days ago</small>
            <br>
            <small>8 members</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/socialmediashare.jpg" alt="Social Media Share">
        </div>
        <div class="ml-2">
            <a href="#">Social Media Share</a>
            <br>
            <small>Last update 1 dia atrás</small>
            <br>
            <small>4 members</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/tutorialvideos.jpg" alt="Tutorial Videos">
        </div>
        <div class="ml-2">
            <a href="#">Tutorial Videos</a>
            <br>
            <small>12 members</small>
        </div>
    </div>
</div>