<div class="d-flex flex-row flex-wrap bd-highlight mb-3 mt-4 ml-3">
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/demochannel.jpg" alt="Demo Channel">
        </div>
        <div class="ml-2">
            <a href="#">Demo channel</a>
            <br>
            <small>Última transmissão 2 dias atrás</small>
            <br>
            <small>12 gestores</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/gatedvideos.jpg" alt="Gated Vídeos">
        </div>
        <div class="ml-2">
            <a href="#">Gated Vídeos</a>
            <br>
            <small>Última transmissão 2 meses atrás</small>
            <br>
            <small>3 gestores</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/liveplaylists.jpg" alt="Live Playlists">
        </div>
        <div class="ml-2">
            <a href="#">Live Playlists</a>
            <br>
            <small>Última transmissão 1 mês atrás</small>
            <br>
            <small>3 gestores</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/marketingchannel.jpg" alt="Marketing Channel">
        </div>
        <div class="ml-2">
            <a href="#">Marketing Channel</a>
            <br>
            <small>Última transmissão 5 dias atrás</small>
            <br>
            <small>8 gestores</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/socialmediashare.jpg" alt="Social Media Share">
        </div>
        <div class="ml-2">
            <a href="#">Social Media Share</a>
            <br>
            <small>Última transmissão 1 dia atrás</small>
            <br>
            <small>4 gestores</small>
        </div>
    </div>
    <div class="d-flex p-2 bd-highlight col-xs-12 col-md-5">
        <div>
            <img src="/assets/img/tutorialvideos.jpg" alt="Tutorial Videos">
        </div>
        <div class="ml-2">
            <a href="#">Tutorial Videos</a>
            <br>
            <small>12 gestores</small>
        </div>
    </div>
</div>