<header class="fixed-top">
    <nav class="navbar navbar-light shadow-sm bg-light m-0">
        <a><img style="height: 2.25em" src="./../../../assets/img/logo.png"></a>


        <div class="btn-group open text-light" *ngIf="(user$ | async) as user; else login">
            <a class="btn btn-primary" [routerLink]="['/p/minha-conta']"><i class="fa fa-user fa-fw"></i>{{user.name}}</a>
            <a class="btn btn-primary" (click)="logout()"><i class="fa fa-sign-out"></i></a>
        </div>

        <ng-template #login>
            <div class="btn-group open text-light">
                <a class="btn btn-primary" [routerLink]="''"><i class="fa fa-sign-out"></i> Login</a>
            </div>
        </ng-template>
    </nav>
    <div class="fixed-top">
        <ap-alert></ap-alert>
    </div>
</header>
<router-outlet *ngIf="!(user$ | async) as user"></router-outlet>